#advisor {
    scrollbar-width: thin !important;
    scrollbar-color: #4b5563 #111827 !important;
}


#advisor::-webkit-scrollbar {
    width: 8px !important;
}


#advisor::-webkit-scrollbar-track {
    background: transparent !important;
}


#advisor::-webkit-scrollbar-thumb {
    background-color: #4b5563 !important;
    /* gris */
    border-radius: 9999px !important;
    border: 2px solid transparent !important;
    background-clip: padding-box !important;
}


#advisor::-webkit-scrollbar-thumb:hover {
    background-color: #6b7280 !important;
}