  #chatlist,
  #messages {
      scrollbar-width: thin !important;
      scrollbar-color: #4b5563 #111827 !important;
  }

  #chatlist ::-webkit-scrollbar,
  #messages::-webkit-scrollbar {
      width: 8px !important;
  }

  #chatlist::-webkit-scrollbar-track,
  #messages::-webkit-scrollbar-track {
      background: transparent !important;
  }

  #chatlist::-webkit-scrollbar-thumb,
  #messages::-webkit-scrollbar-thumb {
      background-color: #4b5563 !important;
      /* gris */
      border-radius: 9999px !important;
      border: 2px solid transparent !important;
      background-clip: padding-box !important;
  }

  #chatlist::-webkit-scrollbar-thumb:hover,
  #messages::-webkit-scrollbar-thumb:hover {
      background-color: #6b7280 !important;
  }

  .active-user {
      background-color: #5b5b5b !important;
      padding-left: 12px;
  }