body.light-mode {
    background-color: #f5f7fa;
}

body.light-mode header {
    background-color: #ffffff;
    border-color: rgba(0, 0, 0, 0.1);
}

body.light-mode .text-gray-300 {
    color: #4b5563;
}

body.light-mode .text-white {
    color: #1f2937;
}

body.light-mode aside {
    background-color: #ffffff;
    border-color: rgba(0, 0, 0, 0.1);
}

body.light-mode .bg-\[\#0B1221\] {
    background-color: #f5f7fa;
}

body.light-mode .bg-white\/5 {
    background-color: #e5e7eb;
}

body.light-mode .bg-\[\#0D1324\] {
    background-color: #ffffff;
}

body.light-mode .text-cyan-400 {
    color: #0891b2;
}

body.light-mode .text-cyan-300 {
    color: #06b6d4;
}

body.light-mode .bg-slate-900 {
    background-color: #ffffff;
}

body.light-mode .bg-slate-800\/60 {
    background-color: #f3f4f6;
}

body.light-mode .bg-slate-700 {
    background-color: #d1d5db;
}

svg path {
    cursor: pointer;
    transition: transform 120ms ease, filter 120ms ease;
    stroke: #161c2940;
    stroke-width: .7;
    vector-effect: non-scaling-stroke;
}

svg path:hover {
    filter: brightness(1.1) saturate(1.05);
    transform: translateY(-1px);
}


#wrapper-staticts,
#wrapper-map {
    scrollbar-width: thin !important;
    scrollbar-color: #4b5563 #111827 !important;
}

#wrapper-staticts::-webkit-scrollbar,
#wrapper-map::-webkit-scrollbar {
    width: 8px !important;
}

#wrapper-staticts::-webkit-scrollbar-track,
#wrapper-map::-webkit-scrollbar-track {
    background: transparent !important;
}

#wrapper-staticts::-webkit-scrollbar-thumb,
#wrapper-map::-webkit-scrollbar-thumb {
    background-color: #4b5563 !important;
    /* gris */
    border-radius: 9999px !important;
    border: 2px solid transparent !important;
    background-clip: padding-box !important;
}

#wrapper-staticts::-webkit-scrollbar-thumb:hover,
#wrapper-map::-webkit-scrollbar-thumb:hover {
    background-color: #6b7280 !important;
}